<!DOCTYPE html>
<html>
  <head>
    <title>Films</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>
    {{#dates}}
      <h2>{{date}}</h2>
      {{#films}}
        <div>
          <h3>{{film}}</h3>
          <div>
            {{#listings}}
              <span class="{{partOfDay}}">{{time}}</span>
            {{/listings}}
          </div>
        </div>
        <br/>
      {{/films}}
    {{/dates}}
  </body>
</html>
