<!DOCTYPE html>
<html>
  <head>
    <title>Films</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="/js/index.js"></script>
    <meta name = "viewport" content = "width = device-width">
  </head>
  <body>
    {{#dates}}
      <h2>{{date}}</h2>
      {{#films}}
        <div>
          <h3>
            <a href="{{imdburl}}">{{film}}</a>
          </h3>

          {{> filmInfo}}

          {{> listings}}
        </div>
        <br/>
      {{/films}}
    {{/dates}}
  </body>
</html>
