<!DOCTYPE html>
<html>
  <head>
    <title>Films</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="/js/index.js"></script>
    <meta name = "viewport" content = "width = device-width">
  </head>
  <body>
    {{#dates}}
      <h2>{{date}}</h2>
      {{#films}}
        <div>
          <h3>
            <a href="{{imdburl}}">{{film}}</a>
          </h3>
          <span class="show-film-info" tabindex="0">
            &nbsp;&nbsp;>>>

            <div class="film-info">
              <div>{{plot}} Director: {{director}}</div>

              <div>
                {{#metascore}}{{metascore}}%{{/metascore}}
                  {{#rating}}{{rating}}/10{{/rating}}
              </div>

              {{#trailer}}
                <div><a href="{{trailer}}">Trailer</a></div>
              {{/trailer}}
            </div>
          </span>

          <div>
            {{#cinemas}}
              <div>
                {{#listings}}
                  <span class="{{partOfDay}}">
                    <a href="{{url}}">{{time}}</a>
                  </span>
                {{/listings}}
                &nbsp;({{cinema}})
              </div>
            {{/cinemas}}
          </div>
        </div>
        <br/>
      {{/films}}
    {{/dates}}
  </body>
</html>
