<div>
  {{#cinemas}}
    <div>
      {{#listings}}
        <span class="{{partOfDay}}">
          <a href="{{url}}">{{time}}</a>
        </span>
      {{/listings}}
      &nbsp;({{cinema}})
    </div>
  {{/cinemas}}
</div>
