body {
  max-width: 700px;
}

h2 {
  margin-top: 0;
}

h3 {
  padding: 0;
  margin: 0;
  font-size: 1.1em;
  display: inline;
}

a { color: black; }

.show-film-info:focus + .film-info {
  opacity: 1;
  height: 100%;
  transition-delay: 0s;
}

.show-film-info:focus {
  outline: 0;
}

.film-info {
  opacity: 0;
  height: 0;
  transition-delay: 360000s;
}

.day {
  background-color: #ff8;
}

.night {
  background-color: #ccf;
}
