body {
  max-width: 700px;
}

h2 {
  margin-top: 0;
}

h3 {
  padding: 0;
  margin: 0;
  font-size: 1.1em;
  display: inline;
}

a { color: black; }

.day {
  background-color: #ff8;
}

.night {
  background-color: #ccf;
}
